#BIGSQLUSER=bigsql
#BIGSQLPASSWORD=bigsql

BIGSQLUSER=sb
BIGSQLPASSWORD=secret123?

#TABLESTORAGE="STORED AS PARQUETFILE"
TABLESTORAGE="STORED AS ORC"

#BIGSQLSIZE1=5000
BIGSQLSIZE1=50000000
#BIGSQLSIZE1=100000000
#BIGSQLSIZE1=200000000
#BIGSQLSIZE1=500000000
#BIGSQLSIZE1=2000000000

BIGSQLDIMTABLE=monit.testdim

BIGSQLTABLE1=monit.testnon
BIGSQLTABLE2=monit.testpart
